nav {
    padding: 8px 16px 8px 16px;
    border-bottom: solid 1px #FDA2;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

body {
    margin: 0;
    background-color: #222;
    color: #FDA;
    font-family: monospace;
    font-size: 16px;
}

.main-column {
    max-width: 500px;
    margin: auto;
}

img {
    max-width: 100%;
    border-radius: 8px;
    border: solid 2px #FDA;
}

a {
    color: #FFF;
    text-decoration: underline;
}

a:visited {
    color: #FDA;
}
